<!-- humidity_chart.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1" >
    <title>Мониторинг влажности почвы</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1 style="margin-left: 3%; font-family: Arial, Helvetica, sans-serif;">Мониторинг влажности почвы</h1>
    <p style="margin-left: 3%; font-family: Arial, Helvetica, sans-serif;">Текущая влажность почвы (%): {{ last_illuminance }}</p>
    <p style="margin-left: 3%; font-family: Arial, Helvetica, sans-serif;">Полив воды: {% if is_lamp_enabled %}вкл.{% else %}выкл.{% endif %}</p>
    <div>{{ graph_html|safe }}</div>
</body>
</html>
